{% extends "layout.html" %}
{% block title %} <title>Home</title> {% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to LocalLibrary, a website developed by
        <em>Mozilla Developer Network</em>!
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> <span class="paginate" id="book_count"></span></li>
        <li><strong>Copies:</strong> <span class="paginate" id="instance_count"></span></li>
        <li><strong>Copies available:</strong> <span class="paginate" id="available_count"></span></li>
        <li><strong>Authors:</strong> <span class="paginate" id="author_count"></span></li>
    </ul>
    <h3>Genres</h3>
    <ul>
        <li><strong>Fantasy books: </strong> <span class="paginate" id="fantasy_count"></span></li>
    </ul>
    <p>You've visitied this site {{ num_visits }} times.</p>
{% endblock %}